@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  .row{
    @apply max-w-[1440px] mx-auto;
  }
}
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.amount_after{
  &:after{
    content: 'KÄ';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}